/* .top {
    background: url('../images/background.jpg') center center/cover no-repeat fixed #f0f0f0;
    height: 800px;
  } */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}

body {
   background: #080808;
   color: #f0f0f0;
   overflow-x: hidden;
   scroll-behavior: smooth;
   padding: 10px;

}

.container {
   margin: 0 18px;
}

#header {
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/SoftwareEngineer&WebDevelopment.jpg');
   background-size: cover;
   background-position: center;

}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;

}

nav ul li {
   display: inline-block;
   /* list-style: none; */
   margin: 10px 20px;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   position: relative;
}

nav ul li a::after {
   content: '';
   width: 0;
   height: 3px;
   /* background-color:#123237; */
   background-color: #87bda1;
   position: absolute;
   left: 0;
   bottom: -6px;
   border-radius: 5px;
   transition: 0.5s
}

nav ul li a:hover::after {
   width: 100%;
}

.header_text {
   margin-top: 15%;
   font-size: 50px;
}

.header_text h1 {
   font-size: 80px;
   margin-top: 20px;
}

.header_text p span {
   color: #87bda1;
}

.header_text h1 {
   font-weight: 900;
}

/* ------------- About ----------- */
#about {
   padding: 40px 0;
   color: #ababab;

}

.row {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.about-col-1 {
   flex-basis: 35%;
}

.about-col-1 img {
   width: 100%;
   border-radius: 15px;


}

.about-col-2 {
   flex-basis: 60%;
}

.sub-title {
   font-size: 60px;
   font-weight: 600;
   color: #fff;

}

.tab-titles {
   display: flex;
   margin: 20px 0 40px;
}

.tab-links {
   margin-right: 50px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;
}

.tab-links::after {
   content: '';
   width: 0;
   height: 3px;
   background: #123237;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.5s;
}

.active-link::after {
   width: 50%;
}

.tab-contents ul li {
   list-style: none;
   margin: 10px 0px;

}

.tab-contents ul li span {
   color: #87bda1;
   font-size: 14px;
}

.tab-contents {
   display: none;
}

.tab-contents.active-tab {
   display: block;
}

/* sevices */
#services {
   padding: 30px 0;
}

.services-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}

.services-list div {
   background: #262626;
   padding: 40px;
   font-size: 13px;
   font-weight: 300;
   border-radius: 10px;
   transition: background 0.5s, tr;
}

.services-list div i {
   font-size: 50px;
   margin-bottom: 30px;
}

.services-list div h2 {
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
}

.services-list div a {
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}

.services-list div:hover {
   background-color: #123237;
   transform: translateY(-10px);
}

/* --------------------   My work  --------------------------- */
#portfolio {
   padding: 50px 0;
}

.work-list {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}

.work {
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.work img {
   width: 100%;
   border-radius: 10px;
   display: block;
   transition: transform 0.5s;

}

.layer {
   width: 100%;
   height: 0;
   background: linear-gradient(rgba(0, 0, 0, 0.6), #87bda1);
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 0 40px;
   text-align: center;
   font-size: 17px;
   transition: height 0.3s;
}

.layer h3 {
   font-weight: 700;
   margin-bottom: 10px;
}

.layer a {
   margin-top: 20px;
   color: #87bda1;
   text-decoration: none;
   font-size: 18px;
   line-height: 60px;
   background: #fff;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   text-align: center;
}

.work:hover img {
   transform: scale(1.1);
}

.work:hover .layer {
   height: 100%;
}

/* ------------- contact------------------ */

.contact-left {
   flex-basis: 35%;

}

.contact-right {
   flex-basis: 60%;

}

.contact-left p {
   margin-top: 30px;
}

.contact-left p i {
   color: #87bda1;
   margin-right: 15px;
   font-size: 25px;
}

.social-icons {
   margin-top: 30px;
}

.social-icons a {
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: #ababab;
   display: inline-block;
   transition: transform 0.3;
}

.social-icons a:hover {
   color: #123237;
   transform: translateY(-5px);
}

.btn {
   margin: 50px auto;
   width: fit-content;
   border: 1px solid #123237;
   padding: 14px 50px;
   border-radius: 6px;
   color: #fff;
   text-decoration: none;
}

.btn.btn2 {
   display: inline-block;
   background-color: #123237;
}

.contact-right {
   flex-basis: 60%;
   /* margin: 30px; */
}

.contact-right form {
   width: 100%;

}

form input,
form textarea {
   width: 100%;
   border: 0;
   outline: none;
   background: #262626;
   padding: 15px;
   margin: 20px;
   color: #fff;
   font-size: 18px;
   border-radius: 6px;

}

form .btn2 {
   padding: 14px 60px;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
}

nav .fa-solid {
   display: none;
}

/* --------------------- media query ------------------- */
@media only screen and (max-width: 700px) {
   body {
     padding-left: 20px
   }

   #header {
      height: 66vh;

   }

   .header_text {
      margin-top: 15%;
      font-size: 29px;
   }

   .header_text h1 {
      font-size: 45px;
      margin-top: 23px;
   }

   nav .fa-solid {
      display: block;
      font-size: 25px;
   }

   nav ul {
      background: linear-gradient(rgba(0, 0, 0, 0.5), #87bda1);
      position: fixed;
      top: 0;
      right: -450px;
      width: 60%;
      height: 66vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5;
      border-radius: 50px;

   }

   nav ul li {
      margin-top: 10%;
   }

   nav ul li {
      display: block;
   }

   nav .fa-solid.fa-xmark {
      position: absolute;
      top: 35px;
      right: 35px;

   }

   nav .fa-solid {
      padding-right: 10%;
   }

   .sub-title {
      font-size: 40px;
      font-weight: 600;

   }

   .contact-left {
      flex-basis: 100%;
   }

   .contact-right {
      flex-basis: 100%;
      margin-right: 20%;
   }

   .about-col-1 {
      flex-basis: 100%;
   }

   .about-col-2 {
      flex-basis: 100%;
   }

}
